<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin Menu</title>
    <center><h1>Admin Menu</h1></center>
    <br>
    <center>
        <input type="button" onclick="window.location.href='create_corporation.html';" value="Create Corporation" />
        <input type="button" onclick="window.location.href='create_Fee.html';" value="Create Fee" />
    </center>
    <br>
    <center>
        <input type="button" onclick="window.location.href='manage_Users.html';" value="Manage Users" />
        <input type="button" onclick="window.location.href='manage_Overdraft.html';" value="Manage Overdraft" />
    </center>
    <br>
    <center>
        <input type="button" onclick="window.location.href='hire_Worker.html';" value="Hire Worker" />
        <input type="button" onclick="window.location.href='pay_Employee.html';" value="Pay Employees" />
    </center>
    <br>
    <center>
        <input type="button" onclick="window.location.href='replace_Manager.html';" value="Replace Manager" />
        <input type="button" onclick="window.location.href='manage_Acc.html';" value="Manage Accounts" />
    </center>
    <br>
    <center><input type="button" onclick="window.location.href='create_bank.html';" value="Create Bank" /></center>


</head>
<body>

</body>
</html>