<form method="POST" action="">
        Create Corporation
    <br>
  Corporation ID: <input type="text" name="corpID" />
  <br>
  Long Name:  <input type="text" name="longName" />
  <br>
    Short Name:  <input type="text" name="shortName" />
  <br>
    Reserved Assets: <input type="number" name="resAssets" />
  <br>
        <button name = "submit_button" type = "submit"value = "Back">Back</button>
    <button name = "submit_button" type = "submit"value = "Create">Create</button>

</form>