<form method="POST" action="">
       &emsp;&emsp;&emsp;&emsp;&emsp;<b>Customer Menu</b>
    <br>

  <br>
   &emsp;&emsp;&emsp;<button name = "submit_button" type = "submit"value = "1">Manage Accounts</button>
  <br>
    <br>
     &emsp;&emsp;&emsp;<button name = "submit_button" type = "submit"value = "2"> Make Deposit</button>
    <br>
    <br>
     &emsp;&emsp;&emsp;<button name = "submit_button" type = "submit"value = "5"> Make Withdrawal</button>
  <br>
    <br>
    &emsp;&emsp;&emsp;<button name = "submit_button" type = "submit"value = "3">Manage Overdraft</button>
  <br>
    <br>
   &emsp;&emsp;&emsp;<button name = "submit_button" type = "submit"value = "4">Make Transfer</button>
  <br>
    <br>
        <button name = "submit_button" type = "submit"value = "Back">Log Out</button>


</form>
