<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Customer Menu</title>
    <center><h1>Customer Menu</h1></center>
    <br>
    <br>
    <center><input type="button" onclick="window.location.href='manage_Acc.html';" value="Manage Account" /></center>
    <br>
    <center><input type="button" onclick="window.location.href='deposit.html';" value="Deposit" /></center>
    <br>
    <center><input type="button" onclick="window.location.href='withdraw.html';" value="Withdraw" /></center>
    <br>
    <center><input type="button" onclick="window.location.href='manage_Overdraft.html';" value="Manage Overdraft" /></center>
    <br>
    <center><input type="button" onclick="window.location.href='make_Transfer.html';" value="Make Transfer" /></center>

</head>
<body>

</body>
</html>