<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Log In</title>
    <center><h1>Log In</h1></center>
    <h3>ID:</h3>
    <input type="text" name="perID" />
    <h3>Password:</h3>
    <input type="password" name="pwd" />
    <center><button name = "submit_button" type = "submit"value = "Create">Create</button></center>
    <!-- <button name="submit_button" onclick="users()">Test</button> -->
    <center><p>Don't have an account? <a href="">Register Here!</a></p></center>

</head>
<body>

</body>
</html>