<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Manage Users</title>
    <center><h1>Manage Users</h1></center>
    <center><input type="button" onclick="window.location.href='create_employeeRole.html';" value="Create Employee Role.html" /></center>
    <br>
    <center><input type="button" onclick="window.location.href='create_customerRole.html';" value="Create CustomerRole.html" /></center>
    <br>
    <center><input type="button" onclick="window.location.href='stop_EmployeeRole.html';" value="Stop Employee Role" /></center>
    <br>
    <center><input type="button" onclick="window.location.href='stop_Customer_Role.html';" value="Stop Customer Role" /></center>
    <br>
</head>
<body>

</body>
</html>