<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>View Stats</title>
    <center><h1>View Stats</h1></center>
    <center><input type="button" onclick="window.location.href='display_Account_Stats.html';"
                   value="Display Account Stats" /></center>
    <br>
    <center><input type="button" onclick="window.location.href='display_Corporation_Stats.html';"
                   value="Display Corporation Stats" /></center>
    <br>
    <center><input type="button" onclick="window.location.href='display_Bank_Stats.html';"
                   value="Display Bank Stats" /></center>
    <br>
    <center><input type="button" onclick="window.location.href='display_Customer_Stats.html';"
                   value="Display Customer Stats" /></center>
    <br>
    <center><input type="button" onclick="window.location.href='display_Employee_Stats.html';"
                   value="Display Employee Stats" /></center>
    <br>

</head>
<body>

</body>
</html>